body {
  background-color: #202020;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
}

.input {
  width: 100%;
  background-color: #303030;
  border: 2px solid lightblue;
  padding: 10px;
  border-radius: 5px;
  color: lightblue;
  font-family: monospace;
  font-size: 14px;
  line-height: 1.5;
  outline: none;
}